<div class="copyright wrapper">
    <span id="copyright-span">&copy; Copyright 2022</span>
    <p class="shrimp-text">
        Currently based in <a href="https://www.elimparcial.com/__export/1629664993504/sites/elimparcial/img/2021/08/22/speedy_gonzales_crop1629664968789.jpg_1902800913.jpg" target="_blank">Guadalajara, Mexico</a>
        I'm a freelancer that likes connect with people and his amazing
        ideas and work together on new designs and conecepts. Follow me on <a href="https://www.instagram.com/shapes___/" target="_blank">Instagram</a> for more.
    </p>
</div>