<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="/assets/uploads/original_f32edc3e52d767477b020ef86681bba1.ico"/>
    <link rel="stylesheet" href="/assets/css/app.css">
    <title>{{ site.title }} | {{ page.title }}</title>

    <!-- Primary Meta Tags -->
    <title>Jordan Delgado | Web designer & developer</title>
    <meta name="title" content="Jordan Delgado | Web designer & developer">
    <meta name="description" content="Specialises in cloud services, UI/UX, prototypes, design, development, Web apps, and more. Contact me.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.jordandelgado.net/">
    <meta property="og:title" content="Jordan Delgado | Web designer & developer">
    <meta property="og:description" content="Specialises in cloud services, UI/UX, prototypes, design, development, Web apps, and more. Contact me.">
    <meta property="og:image" content="/assets/uploads/jdbanner.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.jordandelgado.net/">
    <meta property="twitter:title" content="Jordan Delgado | Web designer & developer">
    <meta property="twitter:description" content="Specialises in cloud services, UI/UX, prototypes, design, development, Web apps, and more. Contact me.">
    <meta property="twitter:image" content="/assets/uploads/jdbanner.png">
</head>
<body>
    {% include header.html %}

    <section id="app">
        {{ content }}
    </section>

    {% include footer.html %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
	<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/application.js"></script>
</body>
</html>