---
layout: default
---
<div class="project-content">
    <div class="work-featured-image">
        <img src="{{ page.featured_image }}" alt="{{ page.alt }}">
    </div>
    
    <div class="work-info wrapper grid">
        <div class="work-info-list">
            <div class="credit-client">
                <h2>Client</h2>
                <span>{{ page.title }}</span>
            </div>

            <div class="credit-service">
                <h2>Service</h2>
                <span>{{ page.service }}</span>
            </div>

            <div class="credit-url">
                <a href="{{ page.project_url }}" target="_blank">
                    <span>Launch project</span>
                </a>
            </div>
        </div>

        <div class="work-info-content">
            <p>{{ page.excerpt }}</p>
        </div>
    </div>
    

    <div class="work-content">
        {{ content }}
    </div>
</div>

<!-- {% if page.previous %} 
        <span class="previous-link">
        <a rel="prev" href="{{ page.previous.url }}">Previous Entry</a>
        </span>
{% endif %} -->
    
{% if page.next %} 
    <a rel="next" href="{{ page.next.url }}">
    <div class="next-link">
        <img src="{{ page.next.featured_image }}">

        <div class="next-link-project-title">
            <span>Next project</span>
            <h1>{{ page.next.title }}</h1>
        </div>
    </div>
    </a>
{% endif %}

{% include copyright.html %}